#view_buy {
    
    @include media-breakpoint-up(xs) {
        margin: 30px 0;
    }
    
    ._wrap-product {
        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        
        @include media-breakpoint-up(xs) {
            @include padding-lt-rt;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
        
        ._product {
            overflow: hidden;
            border-radius: 5px;
            @include media-breakpoint-up(xs) {
                width: 68px;
                height: 68px
            }

            @include media-breakpoint-up(lg) {
                width: 98px;
                height: 98px;
            }
            img {
                width: auto;
                height: 100%;
                margin-left: -24%;
            }
        }
        
        ._product-info {
            margin-left: 15px;
            
            ._product-title {
                font-size: 16px;
                font-weight: $fw700;
                color: $color-black;
            }
        }
        
    }
    
    ._med-container {
        
        @include media-breakpoint-up(xs) {
            padding: 0;
        }

        @include media-breakpoint-up(lg) {
            @include padding-lt-rt;
        }
        
        ._cols {
            
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            
            @include media-breakpoint-up(xs) {
                flex-direction: column;
            }
            
            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }
            
            ._col._col-left,
            ._col._col-right {
                .box {
                    background-color: $color-white;
                    padding: 20px 15px 20px 15px;
                    ._box-title {
                        font-weight: $fw700;
                        color: $color-black;
                        margin-bottom: 15px;
                        
                        @include media-breakpoint-up(xs) {
                            font-size: 14px;
                        }

                        @include media-breakpoint-up(lg) {
                            font-size: 18px;
                        }
                        
                        a {
                            font-size: 13px;
                            display: inline-block;
                            margin-left: 15px;
                        }
                    }
                }    
            }
            
            ._col._col-left {
                
                @include media-breakpoint-up(xs) {
                    width: 100%;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 710px;
                    min-width: 610px;
                }
                
                .box._form {
                    
                    
                    @include media-breakpoint-up(xs) {
                        padding-top: 40px;
                    }

                    @include media-breakpoint-up(lg) {
                        padding-top: 20px;
                    }
                    
                    ._box-content {
                        
                        ._set-user-location {
                            max-width: none;
                            width: 100%;
                            
                            ._wrap-location {
                                max-width: 488px;
                            }
                        }
                        
                        .form-group._delivery-type {
                            max-width: 310px;
                            margin-top: 20px;
                            
                            ._label {
                                margin-bottom: 15px;
                                
                                @include media-breakpoint-up(xs) {
                                    font-size: 14px;
                                }

                                @include media-breakpoint-up(lg) {
                                    font-size: 16px;
                                }
                                
                                .for-label {
                                    font-size: 13px;
                                    font-weight: $fw700;
                                    color: $color-gray;
                                    display: block;
                                    margin-top: 5px;
                                }
                                
                            }
                        }
                        
                        .notice {
                            padding: 10px 15px;
                            border-radius: 4px;
                            max-width: 310px;
                            background-color: $color-ice;
                            font-size: 11px;
                            font-weight: $fw700;
                            color: $color-gray;
                        }
                        
                    }
                    
                }
                
            }
            
            ._col._col-right {
                width: 100%;
                
                @include media-breakpoint-up(xs) {
                    margin-left: 0;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 15px;
                }
                
                .box {
                    
                    padding: 0;
                    
                    ._box-title {
                        padding: 20px 15px 10px 15px;
                        margin-bottom: 0;
                    }
                    
                    .resume-list {
                        
                        li {
                            
                            border-bottom: 1px solid $color-ice;
                            padding: 10px 15px;
                            
                            &:last-child {
                                border-bottom: 0;
                                padding-bottom: 15px;
                            }
                            
                            .resume-list-title {
                                font-size: 13px;
                                font-weight: $fw700;
                                color: $color-gray-bolder;
                                margin-bottom: 2px;
                                
                                button {
                                    max-width: none;
                                    width: auto;
                                    padding: 0.169rem 0.275rem;
                                    
                                    svg {
                                        path {
                                            fill: $color-gray;
                                        }
                                    }
                                }
                            }
                            
                            .resume-list-value {
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;
                                
                                ._title {
                                    color: $color-gray;
                                    text-transform: capitalize;
                                    font-size: 13px;
                                    font-weight: $fw600;
                                }
                                
                                ._value {
                                    font-size: 14px;
                                    color: $color-gray-bolder;
                                    font-weight: $fw700;
                                }
                                
                                ._value._price {
                                    font-size: 18px;
                                }
                            }
                        }
                        
                        li._wbg {
                            background-color: $color-ice-light;
                            border-bottom: 2px solid $color-ice;
                        }

                    }
                    
                    .notice {
                        padding: 30px 30px 15px 30px;
                        max-width: 380px;
                        margin: 0 auto;
                        font-size: 12px;
                        font-weight: $fw700;
                        color: $color-gray-bolder;
                        text-align: center;
                        line-height: 1.7;
                    }
                    
                    ._buttons {
                        width: 100%;
                        padding-bottom: 30px;
                        
                        .form-group-button {
                            text-align: center;
                            
                            button {
                                margin-bottom: 10px;
                                
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    
}