#view_create-ad {
	
	._wrap-create-ad {
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		
		@include media-breakpoint-up(md) {
			padding-top: 70px;
			padding-bottom: 70px;
		}

		.create-ad {
			
			max-width: 610px;
			width: 100%;
			background-color: $color-white;
			border-radius: 3px;
			@include padding-lt-rt; 
			padding: {
				top: 30px;
				bottom: 30px;
			}
			
			@include media-breakpoint-up(sx) {
				padding: {
					top: 40px;
					bottom: 40px;
				}
			}
			
			._create-ad-title {
				
				text-align: center;
				
				@include media-breakpoint-up(xs) {
					font-size: 16px;
				}
				
				@include media-breakpoint-up(md) {
					font-size: 24px;
				}
				
				.heading {
					font-size: 14px;
					color: $color-gray;
					display: block;
					max-width: 320px;
					width: 100%;
					margin: 0 auto;
					margin-top: 10px;
					font-weight: $fw400;
				}
				
			}
			
			._wrap-form {
				._form {

					max-width: 375px;
					width: 100%;
					margin: 0 auto;
					margin-top: 30px;

					._wrap-categories {
						margin-top: 20px;
						margin-bottom: 30px;
					}

					._delivery-type {
						margin-top: 20px;
					}
					
					._photos {
						margin-top: 20px;
						
						._wrap-photo-item {
							margin-top: 15px;
						}
					}
					
					.form-group {
						
						._zipcode-address {
							
							display: flex;
							align-items: center;
							justify-content: flex-start;
							background-color: $color-ice-bold;
							border-radius: 4px;
							padding: 10px 12px;
							margin-top: 15px;
							position: relative;
							
							&::before {
								display: block;
								content:"\A";
								width: 0; 
								height: 0; 
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-bottom: 12px solid $color-ice-bold;
								position: absolute;
								top: -12px;
								left: 15px;
							}
							&::after {
								display: block;
								content:"\A";
								width: 0; 
								height: 0; 
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-bottom: 12px solid $color-ice-bold;
								position: absolute;
								top: -11px;
								left: 15px;
							}
							
							._zipcode-icon {
								height: 32px;
								width: 32px;
								min-width: 32px;
								border-radius: 100px;
								background-color: $color-white;
								display: flex;
								align-items: center;
								justify-content: center;
								
								svg {
									height: 14px;
									width: auto;
									
									path {
										fill: $color-red;
									}
								}
							}
							
							._zipcode-text {
								font-size: 12px;
								font-weight: $fw700;
								color: $color-gray;
								margin-left: 10px;
							}
							
						}
						
					}
					
					._scamb-rates {
						._scamb-rates-link {

							color: $color-gray;
							font-size: 12px;

							button {
								max-width: none;
								width: auto;
								padding: 0.169rem 0.275rem;

								path {
									fill: $color-gray;
									opacity: 0.5;
								}
							}

						}
					}
					
					._ad-terms {
						margin-top: 15px;
						font-size: 12px;
						color: $color-gray-bolder;
						font-weight: $fw700;
						
					}

				}
			}
			
		}
		
	}
	
}