#view_store {
    
    background-color: $color-white;
    padding-bottom: 60px;
    
    ._store-content {
        
        max-width: $med-container;
        @include push--auto;
        @include padding-lt-rt;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        
        @include media-breakpoint-up(xs) {
            flex-direction: column;
        }
        
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
        
        ._wrap-filters {
            
            @include media-breakpoint-up(lg) {
                padding-right: 15px;
                border-right: 1px solid $color-ice;
            }
            
            ._filters-title {

                    color: $color-black;
                    font-weight: $fw700;
                    margin-bottom: 15px;

                    @include media-breakpoint-up(xs) {
                        font-size: 14px;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: 15px;
                    }
                }
            
        }
        
        ._store-products {
            width: 100%;
            
            ._products {

                width: 100%;
                @include media-breakpoint-up(xs) {
                    margin-left: 0;
                    padding-right: 15px;
                }

                @include media-breakpoint-up(lg) {
                    margin-left: 15px;
                    padding-right: 30px;
                }

                .row {
                    .col-6 {
                        padding-bottom: 15px;
                        padding-right: 0;

                        @include media-breakpoint-up(lg) {

                        }
                    }
                }
                
            }
            
            ._wrap-load-more {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
    
}
