//====================================
// UI * Bootstrap Rows - Columns
//====================================

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;  
        max-width: 20%;
    }
}