//====================================
// UI * Extends Bootstrap Forms
//====================================

._form {
	
	.form-group {
		
		position: relative;
		
		label {
			font-weight: $fw700;
			color: $color-gray-bolder;
			margin-bottom: 4px;
            
            @include media-breakpoint-up(xs) {
                font-size: 13px;
            }

            @include media-breakpoint-up(md) {
                font-size: 13px;
            }
            
		}
		
		._character-counter {
			position: absolute;
			top: 13px;
			right: 13px;
			z-index: map-get($z-index, z-default);
			font-size: 12px;
			font-weight: $fw700;
			color: #cac5bf;
		}
		
		.form-control {
			border-color: #eaeaea;
			font-size: 13px;
			height: calc(1.462em + 0.75rem + 9px);
			font-weight: $fw700;
			color: $color-gray;
			position: relative;
			
			&:focus {
				outline: 0;
				box-shadow: none;
				color: $color-gray-bolder;
			}
			
			&::placeholder {
				font-weight: $fw700;
			}
			
		}
		
		.form-control:disabled,
		.form-control[readonly] {
			background-color: $color-white !important;
			border: 0;
			padding-left: 0;
		}
		
		textarea.form-control {
			padding-top: 0.745rem;
			height: auto;
		}
		
		select.form-control {
			position: relative;
			-moz-appearance:none; /* Firefox */
			-webkit-appearance:none; /* Safari and Chrome */
			appearance:none;
			background-image: url('#{$path-image}/arrow-select.png');
			background-repeat: no-repeat;
			background-position: right 10px center;
			background-size: 14px;
			color: $color-gray;
			
			&:focus {
				
			}
			
			
		}
		
		.form-text.text-muted {
			padding-left: 0.845rem;
			font-size: 10px;
		}
		
	}
	
	.form-group-button {
		text-align: center;
		margin-top: 20px;
		
		button {
			font-weight: $fw700;
		}
	}
	
	._wrap-categories {
		
		._categories {
			
			select.form-control {
				
				height: auto;
				overflow: hidden;
				border-color: #eaeaea;
				padding: 0;
				
				option {
					height: 46px;
					display: flex;
					align-items: center;
					font-size: 13px;
					color: $color-gray;
					border-bottom: 1px solid #eaeaea;
					padding: 0.375rem 0.75rem;
					background-image: url('#{$path-image}/arrow-select-right.png');
					background-repeat: no-repeat;
					background-position: right 10px center;
					background-size: 8px;
					font-weight: $fw700;
					cursor: pointer;
					
					
					&:last-child {
						border: 0; 
					}
				}
				
			}
			
		}
		
		._categories._sub-categories {
			
			select.form-control {
				
				option {
					background-image: url('#{$path-image}/check.png');
					background-size: 14px;
					
					&:focus {
						background-color: rebeccapurple !important;
					}
					
					&:first-child {
						padding-left: 30px;
						background-image: url('#{$path-image}/arrow-long-left.png');
						background-position: left 10px center;
					}
				}
				
			}
			
		}
	}
	
}

.form-check._checkbox {
	
	padding-left: 0;
	
	.form-check-label {
		
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: $color-gray;
		font-size: 12px;
		font-weight: $fw700;
		
		.form-check-input {
			display: none;
		}
		
		.check {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 20px;
			width: 20px;
			min-width: 20px;
			border-radius: 3px;
			border: 1px solid $color-ice;
			background-color: $color-white;
			margin-right: 10px;
			cursor: pointer;
			
			svg {
				
				width: 11px;
				height: auto;
				
				path { fill: #a1a1a4; }
			}
		}
		
		.form-check-input:checked ~ .check {
			background-color: $color-blue;
			border-color: $color-white;
			svg {	
				path { fill: $color-white; }
			}
		}
		
	}
	
}

._label {
				
	font-weight: $fw700;
	color: $color-black;

	@include media-breakpoint-up(xs) {
		font-size: 13px;
	}

	@include media-breakpoint-up(md) {
		font-size: 13px;
	}
	
	button {
		max-width: none;
		width: auto;
		padding: 0.169rem 0.275rem;
		
		svg {
			width: 14px;
			height: auto;
			
			path { fill: $color-silver; opacity: 0.5; }
		}
	}
	
}

._form {
    
    ._row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .input-group {
            margin-left: 10px;
            
            &:first-child {
                margin-left: 0;
            }
            
            &:nth-child(1) {
                width: 30%;
            }
            
            &:nth-child(2) {
                width: 30%;
            }
            
            &:nth-child(3) {
                width: 40%;
            }
            
        }
    }
    
    .input-group {
        
        .input-group-prepend {
            .input-group-text {
                border-color: #eaeaea;
                background-color: $color-white;;
                border-right: 0;
                padding-right: 1px;
                
                svg {
                    width: auto;
                    height: 15px;
                    
                    path {
                        fill: $color-gray;
                    }
                }
            }
        }
        
        .form-control {
            border-color: #eaeaea;
            background-color: $color-white;
            border-left: 0;
            color: $color-gray;
			height: calc(1.462em + 0.75rem + 9px);
            font-weight: $fw700;
            
            @include media-breakpoint-up(xs) {
                font-size: 12px;
            }

            @include media-breakpoint-up(md) {
                font-size: 13px;
            }
        }
        
    }
    
}