//=======================================
// UI * Custom Selects
//=======================================
._form._sidebar {
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    @include media-breakpoint-up(xs) {
        max-width: none;
        margin-bottom: 15px;
    }
    
    @include media-breakpoint-up(lg) {
        max-width: 220px;
        display: block;
        margin-bottom: 0;
    }

    ._form-filter-footer {

        @include media-breakpoint-up(xs) {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }

        button {
            display: block;
            font-size: 12px;
        }
    }

._wrap-filter {

    @include media-breakpoint-up(xs) {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
    }

    ._filter {

        
        
        ._filter-label {
            font-size: 13px;
            font-weight: $fw700;
            color: $color-gray-bolder;
            margin-bottom: 6px;
            @include media-breakpoint-up(xs) {
                display: none;
            }
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        ._filter-bar {
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin-bottom: 6px;
            background-color: $color-white;
            padding: 0.438rem 0.466rem;
            border-radius: 4px;
            
            @include media-breakpoint-up(xs) {
                border: 1px solid #eaeaea;
                cursor: pointer;
                display: flex;
            }
            
            @include media-breakpoint-up(lg) {
                display: none;
                border: 0;
                cursor: default;
            }

            a {
                max-width: none;
                width: auto;
                padding: 0.169rem 0.075rem;
                padding-top: 0;
                padding-bottom: 0;
                
                svg {
                    height: 15px;
                    width: auto;

                    path {
                        fill: $color-gray;
                    }
                }
            }

            ._filter-title {
                font-weight: $fw700;
                color: $color-gray-bolder;
                
                @include media-breakpoint-up(xs) {
                    font-size: 11px;
                }
                
                @include media-breakpoint-up(lg) {
                    font-size: 13px;
                }
            }
        }

        ._filter-content {
            

            ._form-filter-content {
                margin-bottom: 15px;
                ._filter-item {
        
                    label {
                        input { display: none; }
                    }
        
                    ._name {
                        color: $color-gray-bolder;
                        font-size: 13px;
                        cursor: pointer;
                    }
        
                }

                ._form-filter-content._type-default {
                border: 0;
                
                .form-group {
                    
                    ._wrap-min-max {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        ._wrap-input-group {
                            
                            ._label {
                                font-size: 12px;
                                color: $color-gray;
                            }

                            padding-left: 10px;
                            
                            &:first-child {
                                padding-left: 0;
                            }

                            .input-group {

                                .input-group-prepend {
                                    .input-group-text {
                                        font-size: 12px;
                                        font-weight: $fw700;
                                        color: $color-gray-bolder;
                                    }
                                }

                                .form-control {
                                    &:focus,
                                    &:active {
                                        border-color: $color-border !important;
                                        border-left: 0 !important;
                                    }
                                }
                            }

                        }
                    }

                }
            }
        
            }

            ._form-filter-content._type-default {
                border: 0;
                
                @include media-breakpoint-up(xs) {
                    @include padding-lt-rt;
                }
                
                @include media-breakpoint-up(lg) {
                    padding: 0;
                }
                
                .form-group {
                    
                    ._wrap-min-max {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        ._wrap-input-group {
                            width: $percent-100;

                            ._label {
                                font-size: 12px;
                                color: $color-gray;
                            }

                            padding-left: 10px;
                            
                            &:first-child {
                                padding-left: 0;
                            }

                            .input-group {

                                .input-group-prepend {
                                    .input-group-text {
                                        font-size: 12px;
                                        font-weight: $fw700;
                                        color: $color-gray-bolder;
                                    }
                                }

                                .form-control {
                                    &:focus,
                                    &:active {
                                        border-color: $color-border !important;
                                        border-left: 0 !important;
                                    }
                                }
                            }

                        }
                    }

                }
            }

            ._form-filter-footer {
                button {
                    font-size: 12px;
                }
            }
            
        }

    }

    ._filter._active {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        z-index: 9999;

        ._filter-bar {
            background-color: $color-white;
            width: $percent-100;
            height: 50px;
            border: 0;
            border-bottom: 1px solid $color-ice;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include padding-lt-rt;
            flex-direction: row;
            border-radius: 0;
            
            a {
                
                .arrow-left {
                    display: block;
                }

                .chevron-down {
                    display: none;
                }

            }
            

            ._filter-title {
                font-size: 12px;
            }
        }

        ._filter-content {

            display: block;

            ._form-filter-content {

                ._filter-item {
                    border-bottom: 1px solid $color-ice;
                    .form-check-label {
                        padding: 0.625rem 0.75rem;
                    }

                }

            }

            ._form-filter-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                button {
                    font-size: 13px;

                }
            }

        }
    }

    ._filter._inactive {

        ._filter-bar {

            a {

                svg {
                    margin-left: 5px;
                }

                .arrow-left {
                    display: none;
                }

                .chevron-down {
                    
                    @include media-breakpoint-up(xs) {
                        display: block;
                    }

                    @include media-breakpoint-up(lg) {
                        display: none;
                    }

                }
            }

        }

        ._filter-content {

            @include media-breakpoint-up(xs) {
                display: none;
            }

            @include media-breakpoint-up(lg) {
                display: block;
            }

            ._form-filter-content._type-select {
                border: 1px solid $color-border;
                border-radius: 5px;

                ._filter-item {
                    border-bottom: 1px solid $color-border;

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            ._form-filter-content {

                ._filter-item {

                    display: flex;
                    align-items: center;

                    .form-check-label {
                        position: relative;
                        width: 100%;
                        padding: 0.625rem 0.75rem;


                        .check {
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border: 0;

                            svg {
                                display: none;
                            }

                        }

                        ._name {
                            position: relative;
                            z-index: 999;
                        }

                        .form-check-input:checked ~ .check {
                            background-color: $color-ice;
                        }

                        
                    }
                    &::after {
                        display: block;
                        content: '';
                        background-image: url('#{$path-image}/arrow-select-right.png');
                        background-repeat: no-repeat;
                        background-size: 8px;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        opacity: 0.7;
                    }
                }

            }

            ._form-filter-footer {
                @include media-breakpoint-up(xs) {
                    display: flex;
                }
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

        }

    }
    
}
}

