._wrap-footer {
    
    background-color: $color-white;
    
    ._footer {
        
        ._med-container {
            
            border-top: 1px solid $color-ice;
            padding: {
                top: 1.875rem;
                bottom: 1.875rem;
            }
            
            .cols {
                
                display: flex;
                
                @include media-breakpoint-up(xs) {
                    align-items: center;
                    flex-direction: column;
                }
                
                @include media-breakpoint-up(lg) {
                    align-items: flex-start;
                    flex-direction: row;
                }
                
                ._col {
                    
                    width: 240px;
                    
                    @include media-breakpoint-up(xs) {
                        
                        text-align: center;
                        
                        &::after {
                            display: block;
                            content: '';
                            height: 1px;
                            width: 100%;
                            background-color: $color-ice;
                            margin: {
                                top: 1.875rem;
                                bottom: 1.875rem;
                            }
                        }
                        

                        &:last-child {
                            
                            &::after {
                                display: none;
                            }
                            
                        }
                    }
                    
                    @include media-breakpoint-up(lg) {
                        
                        text-align: left;
                        
                        &::after {
                            display: none;
                        }
                        
                    }
                    
                    .inside-col {
                        
                        .title {
                            margin-bottom: 1.275rem;
                        }

                        ._list-nav._first-list {
                                li {
                                    

                                    @include media-breakpoint-up(xs) {
                                        display: none;
                                    }

                                    @include media-breakpoint-up(lg) {
                                        display: block;
                                    }

                                    &:nth-child(1) {
                                        display: block;
                                    }
                                }
                            }
                            
                            
                        ._list-nav {

                            ul {

                                li {

                                    a {
                                        color: $color-black;
                                        
                                        @include media-breakpoint-up(xs) {
                                            justify-content: center;
                                        }
                                        
                                        @include media-breakpoint-up(lg) {
                                            justify-content: flex-start;
                                        }
                                    }
                                }

                            }

                        }
                        
                        ._list-nav.socials {
                            
                            margin-bottom: 1.875rem;
                            
                            ul {
                                
                                display: flex;
                                align-items: center;
                                
                                @include media-breakpoint-up(xs) {
                                    justify-content: center;
                                }
                                
                                @include media-breakpoint-up(lg) {
                                    justify-content: flex-start;
                                }
                                
                                li {
                                    
                                    margin: 0;
                                    margin-left: 10px;
                                    
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                    
                                    a {
                                        
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: $color-blue;
                                        width: 36px;
                                        height: 36px;
                                        min-width: 36px;
                                        min-height: 36px;
                                        border-radius: 100px;
                                        
                                        svg {
                                            
                                            width: 16px;
                                            height: 16px;
                                            
                                            path {
                                                
                                                fill: $color-white;
                                                
                                            }
                                            
                                        }
                                        
                                    }
                                    
                                }
                                
                            }
                            
                        }
                    
                    }
                }
                
                ._col._col-1 {
                    
                    .inside-col {
                        
                        .logo {
                            
                            display: inline-block;
                            margin-bottom: 1.05rem;
                            
                            img {
                                width: 28px;
                            }
                            
                        }
                        
                    }
                    
                }

                ._col._col-3 {

                    @include media-breakpoint-up(xs) {
                        display: none;
                    }
                    
                    @include media-breakpoint-up(lg) {
                        display: block;
                    }

                }

                ._col._col-4 {
                ._legals {
                
                    @include media-breakpoint-up(xs) {
                        display: none;
                    }
                    
                    @include media-breakpoint-up(lg) {
                        display: block;
                    }

                }
                }
                
                ._col._col-4 {
                    
                    .inside-col {
                        
                        span {
                            
                            a {
                                
                                color: $color-black;
                                
                            }
                            
                            &:last-child {
                                margin-top: 10px;
                            }
                            
                        }
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
    .copyrights {
        
        ._med-container {
            
            border-top: 1px solid $color-ice;
            padding: {
                top: 0.9375rem;
                bottom: 0.9375rem;
            }
            
            p {
                
                @include media-breakpoint-up(xs) {
                    text-align: center;
                }
                
                @include media-breakpoint-up(lg) {
                    text-align: left;
                }
                
            }
            
        }
        
    }
    
}





































