//====================================
// Root **
//====================================

div#root {
    position: relative;
}

//====================================
// Slick Slider
//====================================

.slick-slider {
    overflow: hidden;
    .slick-arrow {
        z-index: 9;
    }
    
    @include media-breakpoint-up(xs) {
        .slick-arrow {
            display: none !important;
        }
    }
    
    @include media-breakpoint-up(md) {
        &:hover {
            .slick-arrow {
                display: block !important;
            }
        }
    }

    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        height: 70px;
        width: 70px;
        background-color: rgba(180,180,180,0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        opacity: 0.4;
        border-radius: 100px;
        margin-left: 10px;

        &::before {
            content: '';
        }

        &:hover {
            opacity: 0.9;
        }
    }

    .slick-arrow.slick-prev {
        left: 0;
        background-image: url('#{$path-image}/arrow-prev.png');
        
    }
    
    .slick-arrow.slick-next {
        right: 0;
        background-image: url('#{$path-image}/arrow-next.png');
    }

}

//====================================
// User Avatar **
//====================================

._rounded-image__with-notification-icon {
    display: block;
    overflow: hidden;
    position: relative;
    
    img {
        border-radius: 100px;
    }
}

._rounded-image__with-notification-icon {
    
    ._notification-icon-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px;
        width: 12px;
        background-color: $color-white;
        position: absolute;
        border-radius: 100px;
        
        &::after {
            display: block;
            content: '';
            height: 8px;
            width: 8px;
            background-color: $color-blue;
            border-radius: 100px;
        }
    }
    
    ._notification-icon-mark._blue {
        
        &::after {
            background-color: $color-blue;
        }
        
    }
    
    ._notification-icon-mark._red {
        
        &::after {
            background-color: $color-red;
        }
        
    }
}

._rounded-image__with-notification-icon._medium {
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
    
    img {
        width: 38px;
        height: 38px;
        min-width: 38px;
        min-height: 38px;
    }
    
    ._notification-icon-mark {
        top: 0px;
        right: 0px;
    }
}

._rounded-image__with-notification-icon._1x {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    
    img {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
    }
    
    ._notification-icon-mark {
        top: 0px;
        right: 0px;
    }
}

._rounded-image__with-notification-icon._2x {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    
    img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }
    
    ._notification-icon-mark {
        top: 1px;
        right: 1px;
    }
}

._rounded-image__with-notification-icon._3x {
    width: 68px;
    height: 68px;
    min-width: 68px;
    min-height: 68px;
    
    img {
        width: 68px;
        height: 68px;
        min-width: 68px;
        min-height: 68px;
    }
    
    ._notification-icon-mark {
        top: 1px;
        right: 1px;
    }
}

//====================================
// Message Box Icon
//====================================

.message-box {
    
    position: relative;
    width: 22px;
    height: 22px;
    
    svg {
        width: 19px !important;
        height: 19px;
    }
    
    ._notification-icon-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px;
        width: 12px;
        background-color: $color-white;
        position: absolute;
        border-radius: 100px;
        top: -6px;
        right: -4px;
        
        &::after {
            display: block;
            content: '';
            height: 8px;
            width: 8px;
            background-color: $color-blue;
            border-radius: 100px;
        }
    }
    
    ._notification-icon-mark._blue {
        
        &::after {
            background-color: $color-blue;
        }
        
    }
    
    ._notification-icon-mark._red {
        
        &::after {
            background-color: $color-red;
        }
        
    }
}

//====================================
// Responsive Font Size
//====================================

@media (min-width: 240px) {
   
    ._10px { font-size: 10px; }
    
    ._11px { font-size: 11px; }
    
    ._12px { font-size: 12px; }
    
    ._13px { font-size: 13px; }
    
    ._14px { font-size: 14px; }
    
    ._15px { font-size: 15px; }
    
    ._16px { font-size: 16px; }
    
    ._18px { font-size: 18px; }
    
    ._20px { font-size: 18px; }
    
    ._22px { font-size: 16px; }
    
    ._24px { font-size: 19px; }
    
    ._26px { font-size: 23px; }
    
    ._28px { font-size: 18px; }
    
    ._30px { font-size: 24px; }
    
    ._34px { font-size: 24px; }
    
    ._36px { font-size: 22px; }
    
    ._46px { font-size: 32px; }
    
    ._48px { font-size: 34px; }
    
    ._56px { font-size: 36px; }
    
    ._60px { font-size: 28px; }
    
    ._96px { font-size: 40px; }
    
}

@media (min-width: 992px) {
    
    ._20px { font-size: 20px; }
    
    ._22px { font-size: 22px; }
    
    ._24px { font-size: 24px; }
    
    ._26px { font-size: 26px; }
    
    ._28px { font-size: 28px; }
    
    ._30px { font-size: 30px; }
    
    ._32px { font-size: 32px; }
    
    ._34px { font-size: 34px; }
    
    ._36px { font-size: 36px; }
    
    ._46px { font-size: 46px; }
    
    ._48px { font-size: 48px; }
    
    ._56px { font-size: 50px; }
    
    ._60px { font-size: 52px; }
    
    ._96px { font-size: 66px; }
}

@media (min-width: 1200px) {
    
    ._56px { font-size: 56px; }
    
    ._60px { font-size: 60px; }
    
    ._96px { font-size: 96px; }
}

//====================================
// Layout
//====================================

// Use Media Queries With Mixins

@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

.box {
    
	@include media-breakpoint-up(sm) {
		background-color: $color-white;
		width: $percent-100;
		border-color: $color-ice;
		border-width: 1px;
		border-style: solid;
		@include padding-box;
	}
}

.box-shadow {
	
	@include media-breakpoint-up(sm) {
		-webkit-box-shadow: 0 4px 14px 4px rgba(180,180,180,0.1);
		box-shadow: 0 4px 14px 4px rgba(180,180,180,0.1);
	}
}

.headline {
    
    @include media-breakpoint-up(xs) {
        font-size: 15px;
    }
    
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    a {
        font-size: 14px;
        font-weight: $fw400;
        margin-left: 15px;

        @include media-breakpoint-up(xs) {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }
}

._title {
	@include media-breakpoint-up(xs) {
		font-size: 14px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 16px;
	}
}

//====================================
// Buttons
//====================================

.btn {
    
    display: inline-block;
    max-width: 300px;
    width: 100%;
    color: $color-white;
    font-size: 14px;
    padding: .469rem .75rem;
    border: 0;
    
    &:hover {
        color: $color-white;
    }
    
    &:focus {
        box-shadow: none !important;
    }
    
}

.btn.btn-primary {
    background-color: $color-blue;
    
    &:focus {
        background-color: $color-blue;
    }
    
    &:active {
        background-color: #122038 !important;
    }
}

.btn.btn-success {
    background-color: $color-green;
}

.btn.btn-red {
    background-color: $color-red;
}

.btn.btn-neutral {
    background-color: $color-nude;
}


.btn.btn-cancel {
    background-color: $color-white;
    color: $color-gray;
}

.btn.btn-transparent {
    background-color: transparent;
    
    &:hover {
        color: $color-black;
    }
}

.btn.btn-red.btn-border {
	background-color: $color-white;
	color: $color-red;
	border: 1px solid rgba(194, 64, 63, 0.4);
}

.link-button {
    display: inline-block;
    color: $color-white;
    border: 1px solid $color-blue;
    padding: 0.125rem 0.999rem;
    border-radius: 4px;
    font-weight: $fw700;
    font-size: 12px;
    background-color: $color-blue;
    
    &:hover {
        color: $color-white;
    }
}


//====================================
// Form
//====================================

.form {
    
    .form-group {
        
        label {
            margin: 0;
            display: block;
        }
        
        input {
            border: 1px solid #f1f1f1;
            font-size: 14px;
            font-weight: $fw400;
            border-radius: 5px;
            padding: 0.536em 0.836em;
            
            &::placeholder {
                color: #cbcbce;
                font-family: $font-poppins;
                font-weight: $fw600;
            }
        }
        
    }
    
    .form-group.search {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        
        @include media-breakpoint-up(xs) {
            flex-direction: row-reverse;
        }
        
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
        
        input {
            
            width: 100%;
            
            @include media-breakpoint-up(xs) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-right-width: 1px;
                border-left-width: 0;
                padding: 0.536em 0.536em;
            }
            
            @include media-breakpoint-up(lg) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right-width: 0;
                border-left-width: 1px;
                padding: 0.679em 1.136em;
            }

            &:focus,
            &:active {
                border-color: $color-ice-bold !important;
                border-left: 0 !important;
            }
        }
        
        button {
            background-color: $color-white;
            border: 1px solid #f1f1f1;
            font-size: 14px;
            font-weight: $fw700;
            border-radius: 5px;
            
            @include media-breakpoint-up(xs) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
                border-left-width: 1px;
                padding: 0.536em 0.536em;
            }
            
            @include media-breakpoint-up(lg) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right-width: 1px;
                border-left-width: 0;
                padding: 0.679em 0.936em;
                
            }
            
            svg {
                position: relative;
                top: 2px;
                width: 16px;
                height: 16px;
                
                path {
                    fill: #212121;
                    opacity: 0.7;
                }
            }
        }
        
    }
    
}


//====================================
// Nav List
//====================================

nav._list-nav {

    ul {

        li {

            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }


            a {
                color: $color-gray-bolder;
                font-size: 12px;
                font-weight: $fw700;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    background-color: #f8f8f8;
                    margin-right: 8px;
                    border-radius: 100px;

                    svg {
                        width: 16px !important;
                        height: 16px;
                        opacity: 0.8;
                    }
                }
            }

        }

    }

}

//====================================
// aSide Menu
//====================================

.aside-menu {
    background-color: $color-white;
    position: fixed;
    height: 100%;
    width: 270px;
    top: 0;
    -webkit-box-shadow: 4px 0 8px 4px rgba(0,0,0,0.03);
    box-shadow: 4px 0 8px 4px rgba(0,0,0,0.03);
    border-right: 1px solid rgba(0,0,0,0.03);
    z-index: map-get($z-index, aside-menu);
}

.aside-menu {
    
    .aside-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;
        font-weight: $fw700;
        border-bottom: 1px solid $color-ice;
        @include padding-lt-rt;
        padding: {
            top: 1.980rem;
            bottom: 0.800rem;
        }
        
        .btn {
            @include mobile-button-icon;
            max-width: none;
            width: auto;
            padding: 0;
            
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
    
    .aside-menu-header._user{
        
        position: relative;
        background-color: $color-ice;
        padding: {
            top: 1.350rem;
            bottom: 1.350rem;
        }
        
        .close-user-menu {
            position: absolute;
            top: 0.9375rem;
            right: 0.9375rem;
        }
        
        .user-informations {
            
            button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                .user-informations-name__and-email {
                    font-size: 15px;
                    font-weight: $fw700;
                    width: 100%;
                    text-align: left;
                    margin-left: 10px;
                    
                    span {
                        font-size: 10px;
                        display: block;
                        opacity: 0.8;
                    }
                }
            }
        }   
        
    }
    
    .button-to-announce {
        @include padding-lt-rt;
        padding: {
            top: 1.350rem;
            bottom: 1.25rem;
        }
        
        button {
            font-size: 13px;
        }
    }
    
    nav {
        
        ul {
            
            li {
                
                a {
                    
                    @include padding-lt-rt;
                    
                }
                
            }
            
        }
        
    }
    
    nav._user {
        
        ul {
            
            li {
                
                position: relative;

                span.tagged {
                    background-color: $color-ice;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    height: 18px;
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 10px;
                    color: $color-black;
                    font-weight: $fw700;
                    opacity: 0.9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0.400rem;
                    border-radius: 50px;
                }
                    
              
                &:last-child {
                    margin-top: 5rem;
                    
                    a {
                        
                        color: $color-red;
                        
                        span {
                            
                            background-color: transparent;
                            
                            svg {
                                
                                path {
                                    fill: $color-red;
                                }
                                
                            }
                        }
                    }
                }
                
            }
            
        }
        
    }
    
    .aside-nav {
        
        ul {
            
            li {
                
                border-bottom: 1px solid $color-ice;
                
                a {
                    
                    font-size: 12px;
                    padding: {
                        top: 0.500rem;
                        bottom: 0.500rem;
                    }
                    
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    color: $color-gray-bolder;
                    
                    &:hover {
                        background-color: $color-ice;
                    }
                    
                    svg {
                        width: 8px;
                        height: 16px;
                        opacity: 0.8;
                    }
                    
                }
                
            }
            
        }
        
    }
    
}

.aside-menu._leftwards {
    left: 0;
}

.aside-menu._rightwards {
    right: 0;
}


//====================================
// Dropdown Menu ** Hover
//====================================

._dropdown-menu {
    position: absolute;
    top: 56px;
    left: -84px;
    background-color: $color-white;
    width: 290px;
    z-index: map-get($z-index, dropdown-user-menu);
    padding: 1.5625rem;
    border-radius: 2px;
    border: 1px solid $color-ice;
    -webkit-box-shadow: 0 4px 8px 4px rgba(0,0,0,0.04);
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.04);
    
    &::before {
        display: block;
        content:"\A";
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $color-ice;
        position: absolute;
        top: -12px;
        left: 112px;
    }
    &::after {
        display: block;
        content:"\A";
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $color-white;
        position: absolute;
        top: -11px;
        left: 112px;
    }
    
}


//====================================
// UI * Product
//====================================

._ui-item-wrapper {

    @include media-breakpoint-up(xs) {
        //max-width: 145px;
    }

    @include media-breakpoint-up(md) {
        //max-width: 208px;
    }

    ._ui-item {

        display: block;
        border: 1px solid #f7f7f7;
        border-radius: 2px;

        @include media-breakpoint-up(xs) {
            //max-width: 145px;
        }

        @include media-breakpoint-up(md) {
            //max-width: 208px;
        }

        ._ui-item-image {
            width: 100%;
            background-color: $color-white;
			border-bottom: 1px solid #f7f7f7;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            position: relative;

            @include media-breakpoint-up(xs) {
                height: 119px;
            }

            @include media-breakpoint-up(md) {
                height: 171px;
            }

            img._ui-item-image_block {
                width: auto;
                position: absolute;
                height: $percent-100;
            }
        }

        ._ui-item-bottom {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;

            ._col-left {
                ._product-title,
                ._product-price {
                    color: $color-black;
                }

                ._product-title {
                    font-size: 14px;
                    font-weight: $fw700;
                    white-space: nowrap; 
                    width: 150px; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }

            }
            
            ._col-right {
                
                button {
                    width: auto;
                    padding: 4px;
                    line-height: 0;

                    svg {
                        width: 18px;
                        height: 18px;

                        path {
                            fill: $color-red;
                        }
                    }
                }

                button._disabled {
                    svg {
                        path {
                            opacity: 0.7;
                        }
                    }
                }

            }

        }
    }

}


// Product price

._product-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2px;

    .ui-item__discount-price {
        position: relative;
        color: $color-silver;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 10px;

        @include media-breakpoint-up(xs) {
            margin-right: 5px;
        }
        
        @include media-breakpoint-up(md) {
            margin-right: 10px;
        }

        &::before {
            display: block;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $color-silver;;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
		
		.price-tag-fraction {
			margin-right: 3px;
		}
		
		.price-tag-symbol {
			position: relative;
		}
        
    }

    .ui-item__price {

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: $fw700;
		
		.price-tag-fraction,
		.price-tag-symbol {
			color: $color-black;	
		}
		
		.price-tag-symbol {
            position: relative;
            top: 2px;
            display: inline-block;
            margin-left: 3px;
        }
    }
}

._product-price._1x {

    .ui-item__discount-price {

        @include media-breakpoint-up(xs) {
            margin-right: 5px;
        }
        
        @include media-breakpoint-up(md) {
            margin-right: 10px;
        }
        
        .price-tag-fraction {
            
            @include media-breakpoint-up(xs) {
                font-size: 10px;
            }
            
            @include media-breakpoint-up(md) {
                font-size: 12px;
            }
        }

        .price-tag-symbol {

            @include media-breakpoint-up(xs) {
                font-size: 7px;
            }
            
            @include media-breakpoint-up(md) {
                font-size: 9px;
            }
        }
        
    }

    .ui-item__price {

        .price-tag-fraction {

            @include media-breakpoint-up(xs) {
                font-size: 14px;
            }

            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }

        .price-tag-symbol {

            @include media-breakpoint-up(xs) {
                font-size: 8px;
            }

            @include media-breakpoint-up(md) {
                font-size: 10px;
            }
        }
    }
}

._product-price._2x {

    .ui-item__discount-price {

        @include media-breakpoint-up(xs) {
            margin-right: 5px;
        }
        
        @include media-breakpoint-up(md) {
            margin-right: 10px;
        }
        
        .price-tag-fraction {
            
            @include media-breakpoint-up(xs) {
                font-size: 10px;
            }
            
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }

        .price-tag-symbol {

            @include media-breakpoint-up(xs) {
                font-size: 7px;
            }
            
            @include media-breakpoint-up(md) {
                font-size: 10px;
				top: 2px;
            }
        }
        
    }

    .ui-item__price {

        .price-tag-fraction {

            @include media-breakpoint-up(xs) {
                font-size: 18px;
            }

            @include media-breakpoint-up(sm) {
                font-size: 20px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 30px;
            }
        }

        .price-tag-symbol {

            @include media-breakpoint-up(xs) {
                font-size: 9px;
            }

            @include media-breakpoint-up(md) {
                font-size: 11px;
				top: 8px;
            }
        }
    }
}


//====================================
// UI * Slick Slider
//====================================

.slick-dots {
    
    li {
		
		height: auto;
		width: auto;
		margin: 0 0;
        
        button {
			
			width: auto;
			height: auto;
			
            &::before {
                content: none;
                position: relative;
                left: auto;
                top: auto;
				border-radius: 100px;
				opacity: 0.85;
            }
        }
        
    }
    
    li {
        
        button {
            &::before {
                display: block;
                content: '';
                width: 6px;
                height: 6px;
                background-color: $color-silver;
            }
        }
        
    }
    
    .slick-active {
        
        button {
            
            &::before {
                width: 16px;
                height: 6px;
                background-color: $color-nude;
				opacity: 1 !important;
            }
            
        }
        
        
    }
    
}


.inline-slider {
	
	.slick-list {
		
		.slick-track {
			display: flex;
			
			.slick-slide {
				box-sizing: border-box;
				width: auto !important;
				
				@include media-breakpoint-up(xs) {
					padding-left: 0;
				}
				
				@include media-breakpoint-up(sm) {
					padding-left: 10px;
				}
			}
		}
		
	}
	
}

._recently-added {
	
	.slick-list {
		
		.slick-track {
			display: flex;
			
			.slick-slide {
				box-sizing: border-box;
				padding-left: 15px;
				width: auto !important;
				
				&:first-child {
					padding-left: 0;
				}
				
				._ui-item-wrapper {
					width: 208px !important;;
				}
			}
		}
		
	}
	
}

//====================================
// UI * Facebook Auth Btn
//====================================

._wrap-auth-facebook {
	
	._auth-facebook-btn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		max-width: 227px;
		text-align: left;
		background-color: #38589a;
		color: $color-white;
		font-weight: $fw700;
		font-size: 12px;
		border-radius: 100px;
		margin: 0 auto;
		
		.btn-icon {
			width: 46px;
			height: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #4161a2;
			border-radius: 100px;
			-webkit-box-shadow: 0 4px 14px 4px rgba(180,180,180,0.1);
			box-shadow: 0 4px 14px 4px rgba(180,180,180,0.1);
			margin-right: 10px;
			
			svg {
				height: 21px;
				width: auto;
				
				path {
					fill: $color-white;
				}
			}
		}
	}
	
}

//====================================
// UI * Radio Button Inline
//====================================

._wrap-check-radio {
	
	._check-radio {
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		font-weight: $fw700;
		border: 1px solid $color-ice-bold;
		height: 52px;
		padding: 0 15px;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		
		.overlay {
			display: none;
			height: 100%;
			width: 100%;
			border: 0;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 3px;
		}
		
		.form-check-input {
			display: none;
		}
		
		._wrap-alt-icon {
			
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: $color-gray;
			
			._alt-icon {
				height: 38px;
				width: 38px;
				min-width: 38px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $color-ice;
				border-radius: 100px;
				margin-right: 10px;
				
				svg {
					height: 18px;
					width: auto;
					
					path {
						fill: $color-gray;
						opacity: 0.7;
					}
				}
			}
		}
		
		.check {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 20px;
			width: 20px;
			min-width: 20px;
			border-radius: 3px;
			border: 1px solid $color-ice;
			background-color: $color-ice-bold;
			cursor: pointer;
			
			svg {
				
				width: 11px;
				height: auto;
				
				path { fill: #a1a1a4; }
			}
		}
		
		.form-check-input:checked ~ .check{
			background-color: $color-blue;
			border-color: $color-white;
			svg {	
				path { fill: $color-white; }
			}
		}
		
		.form-check-input:checked ~ ._wrap-alt-icon {
			color: $color-blue;
		}
		
		.form-check-input:checked ~ ._wrap-alt-icon > ._alt-icon {
			background-color: $color-blue;
			svg {	
				path { fill: $color-white; opacity: 1; }
			}
		}
		.form-check-input:checked ~ .overlay {
			display: block;
			border: 1px solid $color-blue;
		}
		
	}
	
}
._wrap-check-radio.radio {
	
	._check-radio {
		
		.check {
            border-radius: 100px;
		}
		
	}
	
}

//====================================
// UI * Photos
//====================================

._photos {
	
	._label {
		.text-muted {
			padding-left: 0 !important;
		}
	}
	
	.form-control-file,
	.form-control-file::-webkit-file-upload-button{
		visibility: hidden;
		display: none;
	}
	
	._wrap-photo-item.row {
		margin: 0;
	}
	
	._wrap-photo-item {
		
		/*display: flex;
		align-items: center;
		justify-content: flex-start;*/
		
		._photo-item {
			
			border: 1px dashed $color-ice-bold;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			/*margin-left: 10px;*/
			position: relative;
			overflow: hidden;
			margin: 5px;
			padding: 0;
			
			@include media-breakpoint-up(xs) {
				min-width: 65px;
				width: 65px;
				height: 65px;
			}
			
			@include media-breakpoint-up(md) {
				min-width: 100px;
				width: 100px;
				height: 100px;
			}
			
			._image-selected {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: map-get($z-index, z-default);
				
				img {
					width: auto;
					height: 100%;
					position: relative;
					z-index: map-get($z-index, z-default);
				}
				
				._delete-image {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin-top: auto;
					margin-bottom: auto;
					margin-left: auto;
					margin-right: auto;
					background-color: $color-white;
					width: 36px;
					height: 36px;
					border-radius: 100%;
					padding: 0;
					display: none;
					align-items: center;
					justify-content: center;
					z-index: map-get($z-index, z-default);
					
					
					svg {
						width: 14px;
						height: auto;
						
						path {
							fill: $color-gray;
						}
					}
				}
				
				@include media-breakpoint-up(xs) {
					._delete-image {
						display: flex;
					}
				}
				
				@include media-breakpoint-up(lg) {
					._delete-image {
						display: none;
					}
				}
				
				&:hover {
					
					@include media-breakpoint-up(lg) {
						._delete-image {
							display: flex;
						}
					}
					
				}
			}
			
			._image-selected.no-photo {
				visibility: hidden !important;
				display: none !important;
			}
			
			&:hover {
				border: 1px dashed $color-gray;
				
			}
			
			label {
				text-align: center;
				cursor: pointer;
				margin: 0;
				
				svg {
					width: 20px;
					height: auto;
					opacity: 0.9;
					
					path {
						fill: $color-blue;
					}
				}
				
				._title-label,
				._accept-formats-label {
					color: $color-blue;
					opacity: 0.6;
					font-weight: $fw700;
				}
				
				._title-label {
					margin-bottom: 5px;
					@include media-breakpoint-up(xs) {
						font-size: 8px;
					}
					
					@include media-breakpoint-up(md) {
						font-size: 10px;
					}
				}
				
				._accept-formats-label {
					font-size: 6px;
					@include media-breakpoint-up(xs) {
						display: none;
					}
					
					@include media-breakpoint-up(md) {
						display: block;
					}
				}
				
			}
			
		}
		
	}
	
}

//====================================
// UI * Input Helper
//====================================

._hidden,
._hidden::-webkit-file-upload-button {
	visibility: hidden;
	display: none;
}

//====================================
// UI * Account Action Buttons
//====================================

._action-buttons {
	
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
	button {
		border: 1px solid $color-ice;
		background-color: $color-white;
		color: $color-gray;
		padding: 0.219rem 0.494rem;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: none;
		width: auto;
		font-size: 13px;
		margin-left: 10px;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:hover {
			color: $color-gray;
		}
		
		svg {
			margin-left: 5px;
			path {
				fill: $color-gray;
			}
		}
	}
}

//====================================
// UI * Bootstrap Nav Tabs
//====================================

.nav.nav-tabs {
		
		.nav-item.nav-link {
			
			border: 0 !important;
			margin-bottom: 0;
			color: $color-gray;
			
			&:focus,
			&:hover {
				border: 0;
				outline: 0;
				box-shadow: none;
			}
			
		}
		
		.nav-item.nav-link.active {
			
			border: 0;
			border-bottom: 2px solid $color-blue !important;
			color: $color-black;
			font-weight: $fw700;	
			
		}
		
	}


//====================================
// UI * Bootstrap Accordion Payment
//====================================

._accordion  {
    
    .card {
        border: 0;
        
        .card-header {
            background-color: transparent;
            border: 0;
            padding: 0;
            border-top: 1px solid $color-ice-bold;
            
            button.btn {
                color: $color-black;
                max-width: none;
                width: 100%;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                &:hover,
                &:visited,
                &:focus {
                    text-decoration: none;
                    outline: 0;
                }
                
                button.toggle-arrow {
                    
                    max-width: none;
                    width: auto;
                    
                    @include media-breakpoint-up(md) {
                        margin-left: 15px;    
                    }
                    
                    svg {
                        width: 17px;
                        height: auto;
                        
                        path {
                            fill: $color-gray;
                        }
                    }
                    
                }
            }
        }
        
        .collapse {
            border-top: 1px solid $color-ice-bold;
        }
    }
    
}

._accordion.small  {
    
    .card {
        border: 0;
        
        .card-header {
            background-color: transparent;
            border: 0;
            padding: 0;
            border-top: 1px solid $color-ice-bold;
            
            button.btn {
                padding: 8px;
                padding-left: 15px;
                padding-right: 15px;

                ._accordion-title {
                    font-size: 13px;
                    font-weight: $fw700;
                }
                
                
                button.toggle-arrow {
                    padding-right: 10px;
                    svg {
                        width: 14px;
                    }
                    
                }
            }
        }
        
        .collapse {
            
            .card-body {
                line-height: 1.8;
                font-weight: $fw700;
                color: $color-black;
                font-size: 13px;
            }

        }
    }
    
}


//====================================
// UI * Filter Activity
//====================================

._filter-activity {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    @include media-breakpoint-up(xs) {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @include media-breakpoint-up(md) {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    
    ._form {
        
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        
        @include media-breakpoint-up(xs) {
            margin-bottom: 10px;
        }
        
        
        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
        
        ._wrap-input-group {

            border: 1px solid $color-ice-bold;
            max-width: 185px;
            border-radius: 4px;
            padding-top: 4px;
            padding-bottom: 2px;
            padding-left: 10px;
            padding-right: 1px;
            background-color: $color-white;
            margin-left: 10px;
            
            &:first-child {
                margin-left: 0;
            }
            
            @include media-breakpoint-up(xs) {
                min-width: 125px;
            }
            
            @include media-breakpoint-up(md) {
                min-width: 185px;
            }
            
            ._title-label-input {
                font-size: 10px;
                font-weight: $fw700;
                color: $color-blue;
                margin: 0;
            }

            .input-group {

                .form-control {
                    border: 0;
                    height: calc(1.462em + 0.75rem + 0px);
                    color: $color-black;
                    padding-left: 0;
                    
                    &:focus,
                    &:active {
                        border: 0 !important;
                    }
                }

                .input-group-prepend {

                    .input-group-text {
                        border: 0;
                        padding: 0.375rem 0.75rem;
                        position: relative;
                        top: -2px;
                        
                        svg {
                            height: 18px;
                            width: auto;

                            path {
                                fill: $color-blue;
                            }
                        }
                    }

                }

            }
        }

    }
    
    .form._search {
        
        width: 100%;
        
        @include media-breakpoint-up(md) {
            margin-left: 10px;
        }
        
        .form-group {
            
            .form-control {
                font-weight: $fw400;
                
                &::placeholder {
                  font-weight: $fw400 !important;  
                }
                
                &:focus {
                    border: 1px solid $color-ice-bold !important;
                    border-right: 0 !important;
                }

            }
            
            .form-control,
            button {
                height: calc(1.5em + 0.75rem + 27px);
                background-color: $color-white;
            }
            
            button {
                svg {
                    height: 15px;
                    width: auto;
                    
                    path {
                        fill: $color-gray;
                    }
                }
            }
        }
    }
}

//====================================
// UI * Payment Methods List
//====================================

._payment-methods-list {
                            
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {

        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }

        .creadit-card--flag {
            width: 28px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid $color-ice;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20px;
                min-width: 20px;
                height: auto;
            }
        }

    }

}

._set-user-location {
    
    background-color: $color-ice;
    max-width: 488px;
    padding: 15px;
    border-radius: 5px;
    
    ._user-location-title {
        font-size: 15px;
        font-weight: $fw700;
        color: $color-gray-bolder;
        margin-bottom: 10px;
    }
    
    ._wrap-location {        
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        
        ._icon {
            background-color: $color-white;
            height: 32px;
            width: 32px;
            min-width: 32px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;


            svg {
                height: 15px;
                width: auto;

                path {
                    fill: $color-red;
                }
            }
        }

        ._wrap-current-location {

            margin-left: 10px;
            color: #7d7d81;
            font-weight: $fw700;

            ._location-title {
                font-size: 14px;
                margin-bottom: 5px;
            }

            ._location {
                font-size: 12px;
            }

        }

    }
}


//=======================================
// UI * Custom Select With Chebox, Radio
//=======================================

._wrap-form-select {
    
    ._label {
        margin-bottom: 5px;
    }
    
    ._form-select {
        border-color: #eaeaea;
        border-width: 1px;
        border-style: solid;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        
        ._the-label {
            font-size: 13px;
            height: calc(1.462em + 0.75rem + 9px);
            font-weight: $fw700;
            color: $color-gray;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.375rem 0.75rem;
            cursor: pointer;
            border-bottom: 1px solid #eaeaea;

            span.caret {
                svg {
                    width: 13px;
                    height: auto;

                    path {
                        fill: $color-gray;
                    }

                }
            }
        }

        ._form-select-content {


            ._select-item {
                
                border-bottom: 1px solid #eaeaea;
                
                &:last-child {
                    border-bottom: 0;
                }
                
                &:last-child {
                    label.ui-checkbox {
                        ._select-content {
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }

                label.ui-checkbox {

                    width: 100%;
                    margin: 0;
                    cursor: pointer;

                    input._checkbox {
                        display: none;
                        visibility: hidden;
                    }

                    ._select-content {

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.625rem 0.75rem;


                        ._item-name {
                            font-size: 12px;
                            color: $color-gray-bolder;
                            font-weight: $fw700;
                        }

                        ._item-icon {
                            svg {
                                width: 8px;
                                height: auto;

                                path {
                                    fill: $color-gray;
                                }
                            }
                        }
                    }

                    input._checkbox:checked ~ ._select-content {
                        background-color: $color-blue;

                        ._item-name {
                            color: $color-white;
                        }

                        ._item-icon {
                            svg {
                                path {
                                    fill: $color-white;
                                }
                            }
                        }

                    }

                }

            }
        }

    }
}


//=======================================
// UI * Custom Bootstrap Modal
//=======================================

.bootstrap-modal {
    
    .modal-dialog {
        
        .modal-content {
            
            .modal-header {
                border: 0;
            }
            
            .modal-body {
                
                ._modal-title {
                    font-size: 16px;
                    font-weight: $fw700;
                    color: $color-black;
                    text-align: center;
                    max-width: 320px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                    
                    ._modal-subtitle {
                        display: block;
                        font-size: 14px;
                        font-weight: $fw400;
                        color: $color-gray;
                        margin-top: 5px;
                    }
                }
                
                ._wrap-content {
                    
                    
                    .proposal-product {
                        
                        ._form {
                            
                            ._proposal-product {
                                
                                border: 1px solid $color-ice;
                                
                                .product-image {
                                    height: 40px;
                                    width: 40px;
                                    overflow: hidden;
                                    border-radius: 4px;
                                    
                                    img {
                                        height: $percent-100;
                                        width: auto;
                                        
                                    }
                                }
                                
                                ._store-title {
                                    font-size: 11px;
                                    font-weight: $fw700;
                                    color: $color-black;
                                }
                                
                            }
                            
                        }
                        
                        
                    }
                    
                }
                
                
            }
            
        } 
        
    }
    
}












