//=======================================
// UI * ModalBase
//=======================================
.modal-dialog {

    .modal-content {

        .modal-header {

            border-bottom: 0;

            
        
        }
        .modal-body {

            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;

            ._title {
                font-size: 16px;
                color: $color-black;
                font-weight: $fw700;
                text-align: center;
                max-width: 320px;
                width: $percent-100;
                margin: 0 auto;
                margin-bottom: 30px;
                ._subtitle {
                    display: block;
                    font-size: 13px;
                    color: $color-gray-bolder;
                    font-weight: $fw400;
                    margin-top: 5px;
                }

            }

        }

    }

}

//=======================================
// UI * ModalProposal
//=======================================
._form._form-proposal {
    
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 15px;
    @include padding-lt-rt;

    ._product {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        border: 1px solid $color-ice;
        margin-bottom: 15px;
        padding: {
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 10px;
        };

        ._product-image {
            height: 40px;
            width: 40px;
            border-radius: 4px;
            border: 1px solid $color-ice;
            overflow: hidden;

            img {
                width: auto;
                height: $percent-100;
            }
        }

        ._product-info {
            margin-left: 10px;
            ._store-title {
                font-size: 11px;
                font-weight: $fw700;
                margin-bottom: 2px;
            }
            
            ._product-title {
                font-size: 13px;
                font-weight: $fw700;
            }

            ._product-price {
                margin-top: 0;
            }

        }
    }

    .form-group {
        border: 1px solid $color-border;
        padding: 5px 10px 10px 10px;
        padding-bottom: 0;
        border-radius: 4px;

        label {
            font-size: 10px;
            color: $color-blue;
            font-weight: $fw700;
        }

        .form-control {
            padding-top: 0;
            padding-bottom: 5px;
            padding-left: 0;
            border: 0;
            height: calc(0.962em + 0.75rem + 0px);
            font-size: 16px;
            color: $color-black;

            &:focus,
            &:active {
                border: 0 !important;
            }

            &::placeholder {
                font-size: 13px;
            }
        }

        textarea.form-control {
            max-height: 100px;
            height: 100vw;
            resize: none;
            margin-top: 4px;
            font-size: 13px;
        }
    }

    ._form-footer {
        button {
            max-width: none;
            width: $percent-100;
        }
    }

}

//=======================================
// UI * ModalTaxs
//=======================================
._taxs-list {
                        
    li {
        
        border-bottom: 1px solid $color-ice;
        padding: 10px 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &:nth-child(1) {
            ._taxs-list-title {
                font-size: 14px;
                color: $color-black;
            }

            ._taxs-list-value {
                ._title {
                    font-size: 14px;
                    color: $color-black;
                }
            }
        }
        
        &:last-child {
            border-bottom: 0;
            padding-bottom: 15px;
        }
        
        ._taxs-list-title {
            font-size: 13px;
            font-weight: $fw700;
            color: $color-gray;
            margin-bottom: 2px;
        }
        
        ._taxs-list-value {
            ._title {
                color: $color-gray;
                text-transform: capitalize;
                font-size: 13px;
                font-weight: $fw600;
            }
            
            ._value {
                font-size: 14px;
                color: $color-gray-bolder;
                font-weight: $fw700;
            }
            
            ._value._price {
                font-size: 18px;
            }
        }
    }
    
    li._wbg {
        background-color: $color-ice-light;
        border-bottom: 2px solid $color-ice;
    }

}


._form._change-addrress {
    max-width: 320px;
    margin: 0 auto;
    padding: 15px;

}