#my-purchases {
	
	._all-purchases {
		
		._purchase-item{

			border: 1px solid $color-ice;
			margin: 15px;
			margin-top: 0;
			padding-bottom: 15px;
			margin-bottom: 15px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			
			._product {

				display: flex;
				align-items: flex-start;
				justify-content: flex-start;

				._product-image {
					width: 108px;
					min-width: 108px;
					height: 108px;
					overflow: hidden;
					border: 1px solid $color-ice;
					border-top: 0;
					border-left: 0;

					img {
						height: 100%;
						width: auto;
					}
				}


				._wrap-product-info {

					margin-left: 15px;
					margin-top: 10px;

					.product-info-title {
						font-size: 14px;
						font-weight: $fw700;
						color: $color-black;
					}

					._product-price {
						margin-bottom: 10px;
					}

					.tag-date {
						font-size: 12px;
						color: $color-gray;
						font-weight: $fw700;
						margin-bottom: 5px;

						.the-date {
							color: $color-black;
						}
					}

					._delivery-address {
						margin-top: 15px;
						margin-bottom: 30px;

						.localtion-address {
							color: $color-gray;
							display: flex;
							align-items: flex-start;
							justify-content: flex-start;
							max-width: 280px;
							font-size: 12px;
							font-weight: $fw700;
							margin-top: 8px;

							.icon {

								margin-right: 10px;
								position: relative;
								top: 2px;

								svg {
									height: 15px;
									width: auto;

									path {
										fill: $color-red;
									}
								}
							}
						}

					}

					._seller {

						display: flex;
						align-items: flex-start;
						justify-content: flex-start;

						._seller-info {
							margin-left: 10px;
							font-weight: $fw700;
							font-size: 12px;

							._seller-info-name {
								margin: 2px 0;
							}

							.open-messages {
								color: $color-blue-light;
							}

						}

					}

				}
			}

			._actions {

				padding-top: 8px;
				padding-right: 20px;
				position: relative;

				button {
					padding: 0.169rem 0.275rem;

					svg {
						width: auto;
						height: 21px;

						path {
							fill: $color-gray;
						}
					}
				}
				
				._dropdown-menu {
					padding: 10px;
					width: 160px;
					top: 45px;
					left: auto;
					right: 5px;
					
					&::before,
					&:after {
						left: auto;
						right: 8px;
					}
					
					._list-nav {
						
						ul {
							
							li {
								
								a {
									font-size: 10px;
								}
								
							}
							
						}
						
					}
				}

			}

		}
	}
	
}