#my-profile {
	
	._wrap-form-profile {
		// max-width: 500px;
		margin-top: 30px;
		margin-bottom: 30px;
		
		&:first-child {
			margin-top: 0;
		}
        
        ._set-user-location {
            margin: 15px;
        }
		
		._wrap-form-header {
			background-color: $color-ice;
			padding: 12px 15px;
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $color-ice-bold;
			
			._title-box {
				font-weight: $fw700;
				padding: 0 !important;
				opacity: 0.8;
				
			}
			
			button._edit-profile {
				max-width: none;
				width: auto;
				padding: 0;
				
				svg {
					width: 20px;
					height: auto;
					
					path {
						fill: $color-gray;
					}
				}
			}
			
		}
		
		._form {
			
			padding-left: 15px;
			padding-right: 15px;
			
			.form-group {
				
				._character-counter {
					top: 35px;
				}
				
				.text-muted {
					font-weight: $fw700;
					font-size: 11px;
					color: #909093;
					padding-left: 0;
					opacity: 0.7;
				}
				
				._wrap-custom-url {
					display: flex;
					align-items: center;
					justify-content: flex-start;
						
					.custom-url {
						background-color: $color-ice-bold;
						border: 1px solid #eaeaea;
						color: #8b8b8e;
						font-size: 13px;
						font-weight: $fw700;
						display: flex;
						align-items: center;
						justify-content: center;
						height: calc(1.462em + 0.75rem + 9px);
						padding: 0.375rem 0.75rem;
						border-top-left-radius: 0.25rem;
						border-bottom-left-radius: 0.25rem;
					}
					
					.form-control {
						border-left: 0;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
					
				}
				
			}
			
			.form-group-button {
				text-align: left;
			}
			
		}
	}
	
}