#favorites {
	
	
	._wrap-favorites {
		
		._favorites-wrap-list {

			margin-top: 20px;

			._favorites-list {

				ul {

					li {
						display: flex;
						align-items: center;
						border-top: 1px solid $color-ice;
						padding: 15px 15px;

						.product {

							display: flex;
							align-items: center;
							justify-content: flex-start;

							.product-image {
								height: 80px;
								width: 80px;
								overflow: hidden;
								border: 1px solid $color-ice;
								border-radius: 5px;

								img {
									width: 100%;
									height: auto;
								}
							}

							.product-info {

								margin-left: 15px;

								.product-info-title {
									font-weight: $fw700;
									font-size: 14px;
									color: $color-black;
								}

							}

						}
					}

				}

			}

		}
	}
	
}